<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontrak Aging</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.png" />
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="login">
        <div class="login-logo">
          <img src="/assets/images/logotext.png" alt="" />
          <img src="/assets/images/elnusa.jpg" alt="" />
        </div>
        <div class="login-title">
          <!-- <h1>Welcome Back</h1>
          <p>pleas enter your details to sign in</p> -->
        </div>
        <form action="" class="login-form">
          <div class="login-input">
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Email"
            />
            <i class="bx bx-envelope"></i>
          </div>
          <div class="login-input">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
            <i class="bx bx-lock"></i>
          </div>
          <button class="btn-login" type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
